html{
    margin: 0;
    padding: 0;
    height: 100%;

}

 body{
    display:grid;
    height: 100vh;
    grid-template-columns: 350px auto;
    grid-template-rows: 120px auto 50px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}/* Estilos para el encabezado */
header {
    display: flex;  
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
header div{
    font-family:'Montserrat', sans-serif;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el contenido principal */
aside {
    background-color: #f2f2f2;  
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 20px; /* Añade padding para dar espacio a los elementos internos */
}
main {
    background-color: #f9f9f9;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 20px;
    display: flex;
    align-items: center;    
    flex-direction: column;
}

#letra-seccion {
    max-height: calc(100vh - 200px); /* Ajusta este valor según tus necesidades */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
}
aside h2 {
    margin: 0 0 10px 0; /* Añade un margen inferior de 10px al título */
    text-align: center; /* Centra el texto */
}

aside select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    color: #333; /* Cambia el color del texto */
    background-color: #f9f9f9; /* Cambia el color de fondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Agrega una sombra */
    transition: all 0.3s ease; /* Agrega una transición suave a los cambios de estilo */
}

aside select:focus {
    border-color: #007BFF; /* Cambia el color del borde cuando el select está enfocado */
    outline: none; /* Elimina el contorno predeterminado del navegador */
}
aside div{
    margin: 10px 0;
    cursor: pointer;
}
#lista {
    height: calc(100vh - 200px); /* Resta la altura total de la ventana (100vh) menos las alturas del encabezado y el pie de página */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
}
#lista div {
    padding: 10px;
    
    border-radius: 5px;
    margin: 5px 0;
}
#lista div:hover {
    background-color: #f0f0f0; /* Cambia esto al color que prefieras */
}
#lista div.active {
    background-color: #74C0FC; /* Cambia esto al color que prefieras */
}
#letra {
    text-align: center;
    font-size: 20px;
}
#buscarInput {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    color: #333; /* Cambia el color del texto */
    background-color: #f9f9f9; /* Cambia el color de fondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Agrega una sombra */
    transition: all 0.3s ease; /* Agrega una transición suave a los cambios de estilo */
}
#buscarInput:focus {
    border-color: #007BFF; /* Cambia el color del borde cuando el input está enfocado */
    outline: none; /* Elimina el contorno predeterminado del navegador */
}
/* Estilos para el pie de página */
footer {
    background-color: #333;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    
    color: white;
    text-align: center;
  
    
}